{% extends "homepage/base.html" %}
{% load static %}

{% block title %}
    Booking Page | Roving Around
{% endblock %}

{% block content %}
    <div class="bar">
        {% if user.is_authenticated %}
        <h1><b><a href="/">Roving Around</a></b></h1>
        <ul>
        <li><h5><a href="/logout">Logout</a></h5></li>
        <li><h5><a href= "/login/profile">Profile</a></h5></li>
        <li><h5>Help</h5></li>
        </ul>

        {% else %}
        <h1><b><a href="/">Roving Around</a></b></h1>
        <ul>
        <li><h5><a href="/login/">Login</a></h5></li>
        <li><h5>Help</h5></li>
        </ul>
        {% endif %}
    </div>
    
    <center><h2>Booking page</h2></center>
    
    <form method="post" >  
        {% csrf_token %}  
        {{booking}}
        <input type="submit" name="submit" value="Book" />
           
      
    </form>  

{% endblock %}